*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*header*/
.header{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}
.header ul li{
    list-style: none;
    display: inline-flex;
}
.header ul a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(5, 0, 0);
    font-size: 20px;
    margin: 19px;
}
.header ul a::after{
    background-color: rgba(238, 227, 217, 0.651);
   bottom: -10px;
    height: 3px;
} 
.header h1{
    float: left;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(17, 17, 16);
    margin-left: 40px;
    
}
/*main sec */
.banner{
    display: flex;
    flex-wrap: wrap;
}
.bx{
    background-color: white;
    width: 100vw;
}
.inner-box{
    height: 500px;
    margin-bottom: 15px;
    background-size: cover;
}
.img1{
    background-image: url(../images/atf-image.jpg);
    image-resolution: 300dpi;
}
.bx h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 70px;
    margin-left: 70px;
    font-size: 50px;
    text-transform: uppercase;
    

    
}
.bx span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    color: rgba(154, 235, 167, 0.651);
}
.bx p{
    margin-top: -50px;
    margin-left: 140px;
    font-size: 20px;
    color: bisque;
}
.bx a{
    background-color: rgb(56, 24, 24);
    color: white;
    padding: 15px 15px;
    margin-left: 140px;
    text-decoration: none;
    font-size: 18px;
}
.banner1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.bx1{
    background-color: white;
    width: 630px;
    margin: 20px;
    transition: 0.3s;
}
.inner-box1{
    height: 250px;
    margin: 20px;
    background-size: cover;
    border: 15px solid;
}
.img2{
    background-image: url(../images/merchandise1.jpg);
    background-size: 500px;
    width: 500px;
    background-repeat: no-repeat;
}
.img3{
    background-image: url(../images/merchandise2.jpg);
    background-size: 500px;
    width: 500px;
    background-repeat: no-repeat;
}



/*notdone*/
.bx1 h3{
    margin-left: 140px;
    font-size: 20px;
    color: rgb(235, 229, 222);
    text-transform: uppercase;
}
.bx1 a{
    margin-left: 140px;
    font-size: 20px;
    color: rgb(236, 233, 229);
    text-transform: uppercase;
}
/*not done*/


/*Products */
/*Menu*/
.text{  
    color: #b48a4f;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-top: 40px;
    flex-wrap: wrap;     
}
.h2-tag h2{
    color: #513B1C;
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    font-family: arial;
    text-transform: uppercase;    
}
hr {
    margin-right: 800px;
    margin-left: 800px;
    background: rgb(56, 41, 41);
    margin-bottom: 50px;
    height: 12px;
    border: none;
    position: relative;
    top: 20px;    
}
.container2{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;    
}
.box2{
    margin: 30px;
    width: 270px;
}
.inner-box2{   
    height: 300px;
    background-size: cover;
    background-color: black;
    border-color: #513B1C;
    margin-bottom: 15px;
    
}
.image4{
    background-image: url(../images/product1.jpg);
}
.image5{
    background-image: url(../images/product2.jpg);
}
.image6{
    background-image: url(../images/product3.jpg);
}
.image7{
    background-image: url(../images/product4.jpg);
}
.image8{
    background-image: url(../images/product5.jpg);
}
.image9{
    background-image: url(../images/product6.jpg);
}
.image10{
    background-image: url(../images/product7.jpg);
}
.image11{
    background-image: url(../images/product8.jpg);
}
.box2 h3 {
    padding: 10px;
    color: black;
}
.box2 p{
    padding: 10px;
    color: bisque;
}
/*special gift sale*/
.container3{    
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    
}
.box3{
    width: 85vw;
}
.inner-box3{
    margin-bottom: 15px;
    height: 500px;
    background-size: cover;
}
.image12{
    background-image: url(../images/banner.jpg);
}
.box3 p{    
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: rgb(243, 203, 150);
    margin-top: 20px;
    font-weight: 900;
    font-style: italic;
    display: flex;
}
.box3 h2{    
    align-items: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    display: flex;
}
.box3 a{    
    padding: 15px 15px;
    margin-left: 45%;
    font-size: 18px;
    font-style: initial;
    text-decoration: none;
    color: rgb(131, 87, 87);    
    background-color: white;
    font-weight: bolder;   
}
/*off products*/
.sector{
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
    justify-content: center;   
}
.sec{
    margin: 15px;
    width: 270px;
}
.inner-sec{
    margin-bottom: 15px;
    background-size: cover;  
    height: 300px;
    background-color: rgb(131, 109, 77);
}
.image4{
    background-image: url(../images/product1.jpg);
}
.image5{
    background-image: url(../images/product2.jpg);
}
.image6{
    background-image: url(../images/product3.jpg)
}
.image7{
    background-image: url(../images/product4.jpg)
}
.sec p{
    padding: 10px;
}
.text1{   
    font-size: 25px;
    font-style: unset;
    color: rgb(223, 193, 119);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: 500;
    opacity: 1;
    display: flex;
}
.h2-tag1{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Ultra', serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #412d11;
    
}
hr {
    position: relative;
    top: 20px;    
    margin-left: 800px;
    background: rgb(56, 41, 41);
    margin-right: 800px;
    margin-bottom: 50px;
    height: 12px;
    border: none;   
}
/*Ads 2*/
.container4{
    display: flex;  
    margin-top: 45px;
    flex-wrap: wrap;
    position: relative;  
    justify-content: center;
}
.box4{
    margin: 30px;
    width: 30vw;
}
.inner-box4{
    margin-bottom: 15px;
    background-size: cover;   
    height: 300px;
    background-color: rgb(46, 42, 42);
}
.image13{
    background-image: url(../images/merchandise3.jpg);
}
.image14{
    background-image: url(../images/merchandise4.jpg);
}
.image15{
    background-image: url(../images/merchandise5.jpg);
}
.image16{
    background-image: url(../images/merchandise6.jpg);
}
.box4 h3{
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}
.box4 a{
    
    color: rgb(243, 235, 235);
    text-decoration: none;
    margin-top: 90px;
    margin-left: 50px;
    font-size: 20px;
    padding: 15px;
    
}